{% extends "utilities/_base.html" %}
{% from "components/job_section.html" import job_section %}
{% from "components/page_header.html" import page_header %}
{% block title %}Remove Duplicates - Utilities - Yaffo{% endblock %}

{% block utility_content %}
    <div class="utility-page">
        {{ page_header('Remove Duplicates', 'Find and remove duplicate photos') }}

        {{ job_section(active_jobs, show_cancel=true) }}
        {% include "utilities/remove_duplicates_form.html" %}
    </div>
{% endblock %}
