{% extends "utilities/_base.html" %}
{% from "components/job_section.html" import job_section %}
{% from "components/page_header.html" import page_header %}
{% block title %}{{ _("Remove Duplicates - Utilities - Yaffo") }}{% endblock %}

{% block utility_content %}
    <div class="utility-page">
        {{ page_header(
            _('Remove Duplicates'),
            _('Find and remove duplicate photos and videos'),
        ) }}

        {{ job_section(active_jobs, show_cancel=true) }}
        {% include "utilities/remove_duplicates_form.html" %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='utilities/remove_duplicates.js') }}"></script>
<script>
document.addEventListener('yaffo:app-init-complete', (event) => {
    event.detail.app.utilities.initRemoveDuplicates();
});
</script>
{% endblock %}
