<div class="filter-group">
    <label for="media-type-select">{{ _("Media Type") }}</label>
    <select name="media-type" id="media-type-select" class="searchable-select" data-search-disabled>
        <option value="">{{ _("All Media") }}</option>
        <option value="photo" {% if filters.selected_media_type == 'photo' %}selected{% endif %}>{{ _("Photos Only") }}</option>
        <option value="video" {% if filters.selected_media_type == 'video' %}selected{% endif %}>{{ _("Videos Only") }}</option>
    </select>
</div>
