<div class="job-card"
     id="job-{{ job.id }}"
        {% if not is_finished %}
     hx-get="{{ url_for('job_fragment', job_id=job.id, has_results=has_results|int) }}"
     hx-trigger="every 5s"
     hx-swap="outerHTML"
        {% endif %}>

    <div class="job-header">
        <div>
            <span class="job-status">{{ job.status }}</span>
            <span class="job-time">Started: {{ (job.started_at or job.created_at) | format_date }}</span>
        </div>
        <div>
            {% if progress >= 100 and has_results %}
                <a href="{{ url_for('utilities_auto_assign_results', job_id=job.id) }}"
                   class="btn btn-primary btn-sm">
                    Show Results
                </a>
            {% endif %}

            {% if show_cancel %}
                <form>
                    <input type="hidden" name="has_results" value="{{ has_results}}" />
                    <button class="btn btn-danger btn-sm"
                            hx-post="{{ url_for('job_delete' if is_finished else 'job_cancel', job_id=job.id) }}"
                            hx-vals='{"has_results": {{ has_results|tojson }}, "job_name": "{{ job.name }}"}'
                            hx-target="#job-{{ job.id }}"
                            hx-swap="outerHTML">
                        {{ 'Delete' if is_finished else 'Cancel' }}
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="job-message">{{ job.message.replace('{totalCount}', total_count|string).replace('{taskCount}', job.task_count|string) }}</div>

    <div class="progress-bar-container">
        <div class="progress-bar" style="width: {{ progress }}%"></div>
    </div>

    <div class="progress-text">{{ "%.2f"|format(progress) }}%</div>
</div>